body{background-color: rgb(178, 184, 184);
background-image: url(../images/download.jpg);
}
.bg-image{
    background-image: url(../images/download.jpg);
    height: 100vh;
    filter: blur(1px);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}


    